.nav-strap{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
padding: 0px 100px;
display: flex;
justify-content: start;
align-items: center;
z-index: 1111;
background-color: white;
}

.navlogo img{
width: 150px;
height: auto;
margin: 0px 100px 0px 0px;
}


.nav-item-links .link-item{
    display: flex;
list-style-type: none;
padding: 0px;
margin: 0px;
}

.nav-item-links .link-item .item-dropdown-hov{
margin: 0px 5px;
padding: 25px 10px;
font-weight: 500;
cursor: pointer;
transition: all 0.3s ease-in-out;
color: black;
}

.nav-item-links .link-item .item-dropdown-hov:hover{
color: gray;
}


.item-dropdown-hov{
position: relative;
}
.item-dropdown-hov .drop-hov{
    position: absolute;
    /* opacity: 1;
    visibility: visible; */
    visibility: hidden; 
    opacity: 0;
    padding: 0px;
    background-color: white;
    box-shadow: 3px 4px 12px 0px #0000004d;
    width: max-content;
    list-style-type:none;
    top: 70px;
    transition: all 0.3s ease-in-out;
}

.item-dropdown-hov:hover .drop-hov{
    opacity: 1;
    visibility: visible;

}

.item-dropdown-hov .drop-hov .drop-link{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link:hover{
    background-color: rgb(226, 226, 226);
   
}

.item-dropdown-hov .drop-hov .drop-link2{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link2:hover{
    background-color: rgb(226, 226, 226);
   
}

.item-dropdown-hov .drop-hov .drop-link3{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link3:hover{
    background-color: rgb(226, 226, 226);
   
}



.nolink-dec{
    color: black;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.nolink-dec:hover{
    color: gray;
    text-decoration: none !important;
}

.drop-link{
    position: relative;
font-size: 13px;
}

.drop-link2{
    position: relative;
font-size: 13px;
}

.drop-link3{
    position: relative;
font-size: 13px;
}

.hover-inner-links{
    position: absolute;
    list-style-type: none;
    right: -190px;
    top: 0px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width: max-content;
/* opacity: 0; */
visibility: hidden;
height: 0px;
overflow-x: unset; 
overflow-y: scroll;
border-radius: 5px;
z-index: 111;
transition: all 0.3s ease-in-out;
}

.hover-inner-links::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.hover-inner-links::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius:2px ;


  }

.drop-link:hover .hover-inner-links{
    /* opacity: 1; */
    visibility: visible;
    height: 300px;
}

.hover-inner-links2{
    position: absolute;
    list-style-type: none;
    right: -190px;
    top: 1px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width: max-content;
height: 0px;
/* opacity: 0; */
visibility: hidden;
transition: all 0.3s ease-in-out;
border-radius: 5px;
/* overflow: hidden; */

}

.drop-link2:hover .hover-inner-links2{
    /* opacity: 1; */
    visibility: visible;
    height: 180px;
}

.hover-inner-links3{
    position: absolute;
    list-style-type: none;
    right: -70px;
    top: 20px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width:max-content;
opacity: 0;
border-radius: 5px;
visibility: hidden;
height: 0px;
transition: all 0.3s ease-in-out;
}

.drop-link3:hover .hover-inner-links3{
    opacity: 1;
    visibility: visible;
    height: 70px;
}

.inner-linkers{
    padding: 8px;
    font-size: 13px;
    position: relative;
}

.lastdrop{
opacity: 0;
visibility: hidden;
height: 0px;
transition: all 0.3s ease-in-out;
overflow-x: unset; 
overflow-y: scroll;
list-style-type:none;
padding: 0px;
margin: 0px;
}

.lastdrop::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.lastdrop::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius:2px ;

  }

.inner-linkers:hover .lastdrop{
visibility: visible;
    opacity:1;
    height:65px;
    
}


.lastdrop-items{
padding:10px;
}

.drop-linkers-items1{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -129px;
    padding: 0px;
    height: 0px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
visibility: hidden;
transition: all 0.3s ease-in-out;
opacity: 0;
overflow: hidden;
border-radius: 5px;
}

.inner-linkers1{
    padding: 8px;
    font-size: 13px;
    position: relative;
}

.inner-linkers1:hover .drop-linkers-items1{
    visibility: visible;
        opacity:1;
        height:200px;
    }

    .drop-linkers-items2{
        list-style-type: none;
        position: absolute;
        top: 0px;
        right: -127px;
        padding: 0px;
        height: 0px;
        background-color: white;
        box-shadow: 5px 0px 14px 0px #0000002b;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;
    border-radius: 5px;
    }
    
    .inner-linkers2{
        padding: 8px;
        font-size: 13px;
        position: relative;
    }
    
    .inner-linkers2:hover .drop-linkers-items2{
        visibility: visible;
            opacity:1;
            height:160px;
        }

        .drop-linkers-items3{
            list-style-type: none;
            position: absolute;
            top: 0px;
    border-radius: 5px;
            right: -165px;
            padding: 0px;
            height: 0px;
            background-color: white;
            box-shadow: 5px 0px 14px 0px #0000002b;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        overflow: hidden;
        }
        
        .inner-linkers3{
            padding: 8px;
            font-size: 13px;
            position: relative;
        }
        
        .inner-linkers3:hover .drop-linkers-items3{
            visibility: visible;
                opacity:1;
                height:260px;
            }

            .drop-linkers-items4{
                list-style-type: none;
                position: absolute;
                top: 0px;
                right: -298px;
    border-radius: 5px;
                padding: 0px;
                height: 0px;
                background-color: white;
                box-shadow: 5px 0px 14px 0px #0000002b;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            overflow: hidden;
            }
            
            .inner-linkers4{
                padding: 8px;
                font-size: 13px;
                position: relative;
            }
            
            .inner-linkers4:hover .drop-linkers-items4{
                visibility: visible;
                    opacity:1;
                    height:120px;
                }

                .drop-linkers-items5{
                    list-style-type: none;
                    position: absolute;
                    top: 0px;
                    right: -113px;
                    padding: 0px;
                    height: 0px;
                    border-radius: 5px;
                    background-color: white;
                    box-shadow: 5px 0px 14px 0px #0000002b;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                opacity: 0;
                overflow: hidden;
                }
                
                .inner-linkers5{
                    padding: 8px;
                    font-size: 13px;
                    position: relative;
                }
                
                .inner-linkers5:hover .drop-linkers-items5{
                    visibility: visible;
                        opacity:1;
                        height:40px;
   }