@media only screen and (max-width: 600px){
    .nav-item-links{
        display: none;
    }
    .only-mobile{
        display: block;
    
    }
.nav-strap{
    padding: 13px 10px;
    justify-content: space-between;
    top: 0px;

}

.top-header{
    padding: 10px 10px;
display: none;
}

}

@media only screen and (min-width: 998px){
.nav-item-links{
    display: block;
}
.only-mobile{
    display: none;
    
}
.nav-strap{
    padding: 0px 100px;
    justify-content: start;
    top: 45px;
}

.top-header{
    padding: 10px 100px;
    display: flex;

}


}

@media only screen and (min-width: 1400px){
.nav-item-links{
    display: block;
}
.only-mobile{
    display: none;


}
.nav-strap{
    padding: 0px 100px;
    justify-content: start;
    top: 35px;
}

.top-header{
    padding: 10px 100px;
display: flex;
}
}


.nav-strap{
position: relative;
left: 0px;
width: 100%;
display: flex;
align-items: center;
z-index: 11111;
background-color: white;
box-shadow:0px 20px 20px 0px #00000024;
}

.navlogo img{
width: 150px;
height: auto;
margin: 0px 100px 0px 0px;
}


.nav-item-links .link-item{
    display: flex;
list-style-type: none;
padding: 0px;
margin: 0px;
}

.nav-item-links .link-item .item-dropdown-hov{
margin: 0px 5px;
padding: 25px 10px;
font-weight: 500;
cursor: pointer;
transition: all 0.3s ease-in-out;
color: black;
}

.nav-item-links .link-item .item-dropdown-hov:hover{
color: gray;
}


.item-dropdown-hov{
position: relative;
}
.item-dropdown-hov .drop-hov{
    position: absolute;
    /* opacity: 1;
    visibility: visible; */
    visibility: hidden; 
    opacity: 0;
    padding: 0px;
    background-color: white;
    box-shadow: 3px 4px 12px 0px #0000004d;
    width: max-content;
    list-style-type:none;
    top: 70px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.item-dropdown-hov:hover .drop-hov{
    opacity: 1;
    visibility: visible;

}

.item-dropdown-hov .drop-hov .drop-link{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link:hover{
    background-color: rgb(226, 226, 226);
   
}

.item-dropdown-hov .drop-hov .drop-link2{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link2:hover{
    background-color: rgb(226, 226, 226);
   
}

.item-dropdown-hov .drop-hov .drop-link3{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link4{
    display: block;
    padding: 10px 5px;
transition: all 0.3s ease-in-out;
   
}

.item-dropdown-hov .drop-hov .drop-link3:hover{
    background-color: rgb(226, 226, 226);
   
}

.item-dropdown-hov .drop-hov .drop-link4:hover{
    background-color: rgb(226, 226, 226);
   
}



.nolink-dec{
    color: black;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.nolink-dec:hover{
    color: gray;
    text-decoration: none !important;
}

.drop-link{
    position: relative;
font-size: 13px;
}

.drop-link2{
    position: relative;
font-size: 13px;
}

.drop-link3{
    position: relative;
font-size: 13px;
}

.drop-link4{
    position: relative;
font-size: 13px;
}

.hover-inner-links{
    position: absolute;
    list-style-type: none;
    right: -171px;
    top: 0px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width: max-content;
/* opacity: 0; */
visibility: hidden;
height: 0px;
/* overflow-x: unset; 
overflow-y: scroll; */
border-radius: 5px;
z-index: 111;
transition: all 0.3s ease-in-out;
}

.hover-inner-links::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.hover-inner-links::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius:2px ;


  }

.drop-link:hover .hover-inner-links{
    /* opacity: 1; */
    visibility: visible;
    height: max-content;
}

.hover-inner-links2{
    position: absolute;
    list-style-type: none;
    right: -190px;
    top: 1px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width: max-content;
height: 0px;
/* opacity: 0; */
visibility: hidden;
transition: all 0.3s ease-in-out;
border-radius: 5px;
/* overflow: hidden; */

}

.drop-link2:hover .hover-inner-links2{
    /* opacity: 1; */
    visibility: visible;
    height: 180px;
}

.hover-inner-links3{
    position: absolute;
    list-style-type: none;
    right: -154px;
    top: 0px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
    padding: 0px;
width:max-content;
opacity: 0;
border-radius: 5px;
visibility: hidden;
height: 0px;
transition: all 0.3s ease-in-out;
}   



.drop-link3:hover .hover-inner-links3{
    opacity: 1;
    visibility: visible;
    height: 70px;
}

.drop-link4:hover .hover-inner-link4{
    opacity: 1;
    visibility: visible;
    height: 70px;
}

.inner-linkers{
    padding: 8px;
    font-size: 13px;
    position: relative;
}

.lastdrop{
opacity: 0;
visibility: hidden;
height: 0px;
transition: all 0.3s ease-in-out;
/* overflow-x: unset; 
overflow-y: scroll; */
list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 170px;
    width: max-content;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;

}

.lastdrop::-webkit-scrollbar {
    display: block;
    width: 4px;
}

.lastdrop::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius:2px ;

  }

.inner-linkers:hover .lastdrop{
visibility: visible;
    opacity:1;
    height:max-content;
    border-radius: 5px;
    /* box-shadow: inset 0px -20px 20px 0px #e7e7e7; */
}


.lastdrop-items{
padding:10px;
}

.lastdrop-items:hover{
    background-color: rgb(238, 238, 238);

}

.drop-linkers-items1{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -129px;
    padding: 0px;
    height: 0px;
    background-color: white;
    box-shadow: 5px 0px 14px 0px #0000002b;
visibility: hidden;
transition: all 0.3s ease-in-out;
opacity: 0;
overflow: hidden;
border-radius: 5px;
}

.inner-linkers1{
    padding: 8px;
    font-size: 13px;
    position: relative;
}

.inner-linkers1:hover .drop-linkers-items1{
    visibility: visible;
        opacity:1;
        height:200px;
    }

    .drop-linkers-items2{
        list-style-type: none;
        position: absolute;
        top: 0px;
        right: -127px;
        padding: 0px;
        height: 0px;
        background-color: white;
        box-shadow: 5px 0px 14px 0px #0000002b;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;
    border-radius: 5px;
    }
    
    .inner-linkers2{
        padding: 8px 8px;
            margin: 0px 0px;
            font-size: 13px;
        position: relative;
    }

    .inner-linkerslast{
        padding: 8px 0px;
            margin: 0px 0px;
            font-size: 13px;
        position: relative;
    }
    
    .inner-linkers2:hover .drop-linkers-items2{
        visibility: visible;
            opacity:1;
            height:160px;
        }

        .drop-linkers-items3{
            list-style-type: none;
            position: absolute;
            top: 0px;
    border-radius: 5px;
            right: -165px;
            padding: 0px;
            height: 0px;
            background-color: white;
            box-shadow: 5px 0px 14px 0px #0000002b;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        overflow: hidden;
        }
        
        .inner-linkers3{
            padding: 8px;
            font-size: 13px;
            position: relative;
        }
        
        .inner-linkers3:hover .drop-linkers-items3{
            visibility: visible;
                opacity:1;
                height:260px;
            }

            .drop-linkers-items4{
                list-style-type: none;
                position: absolute;
                top: 0px;
                right: -298px;
    border-radius: 5px;
                padding: 0px;
                height: 0px;
                background-color: white;
                box-shadow: 5px 0px 14px 0px #0000002b;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            overflow: hidden;
            }
            
            .inner-linkers4{
                padding: 8px;
                font-size: 13px;
                position: relative;
            }
            
            .inner-linkers4:hover .drop-linkers-items4{
                visibility: visible;
                    opacity:1;
                    height:120px;
                }

                .drop-linkers-items5{
                    list-style-type: none;
                    position: absolute;
                    top: 0px;
                    right: -113px;
                    padding: 0px;
                    height: 0px;
                    border-radius: 5px;
                    background-color: white;
                    box-shadow: 5px 0px 14px 0px #0000002b;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                opacity: 0;
                overflow: hidden;
                }
                
                .inner-linkers5{
                    padding: 8px;
                    font-size: 13px;
                    position: relative;
                }
                
                .inner-linkers5:hover .drop-linkers-items5{
                    visibility: visible;
                        opacity:1;
                        height:40px;
   }


   .drop-inner-link3-item1{
position: absolute;
width: max-content;
height: 0px;
right:-217px;
top:0px;
transition: all 0.3s ease-in-out;
visibility: hidden;
background-color:white;
box-shadow: 5px 0px 14px 0px #0000002b;
border-radius:5px ;
padding: 10px; 
list-style-type: none;  
}

   .drop-inner-link3-item2{
    position: absolute;
    width: max-content;
    height: 0px;
    right:-207px;
    top:0px;
transition: all 0.3s ease-in-out;
visibility: hidden;
background-color:white;
box-shadow: 5px 0px 14px 0px #0000002b;
border-radius:5px;
padding: 10px; 
list-style-type: none; 
}

.inner-linkers:hover .drop-inner-link3-item1{
visibility: visible;
    height: 90px;

}

.inner-linkers:hover .drop-inner-link3-item2{
visibility: visible;
    height: 240px;


}

.inner-linkers2{
    position: relative;
}

.ul-disable{
    list-style-type: none;
    padding: 0px !important;
}

.drop-items-poe{
    position: relative;
}

.drop-items-poe-links{
    position: absolute;
    opacity: 0;
    list-style-type: none;
    padding: 0px;
    width: max-content;
    top: 0px;
    right: -217px;
    height: 0px;
    background-color: white;
box-shadow: 5px 0px 14px 0px #0000002b;
transition: all 0.3s ease-in-out;
border-radius: 5px;
}

.drop-items-poe:hover .drop-items-poe-links{
    opacity: 1;
    height: 180px;
}

.arrow-icon{
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.inner-linkers:hover .arrow-icon{
    transform: rotate(90deg);
}

.inner-linkers:hover{
    background-color:rgb(231, 231, 231) ;
}

.top-header{
   
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: fixed;
    width: 100%;
    z-index: 111;
    background-color: #f3f3f3;
}

.top-header p{
margin: 0px;
font-size: 12px;
font-weight: 500;
color: gray;    
letter-spacing: 1px;

}

.top-header a{
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0px;
    color: gray;  
    transition: all 0.3s ease-in-out;

}

.top-header a:hover{
color: black;
}

.drop-inner-link4{
    position: absolute;
    width: max-content;
    list-style-type: none;
    padding: 0px;
    top: 0px;
    background-color: white;
    right: -224px;
    visibility: hidden;
    height: 0px;
    border-radius: 5px;
box-shadow: 5px 0px 14px 0px #0000002b;
    transition: all 0.3s ease-in-out;
}

.drop-link4:hover .drop-inner-link4{
    visibility: visible;
    height: 240px;
}

/* ---------------- */
.tele-inner-linkers1{
        padding: 8px;
        font-size: 13px;
        position: relative;
}

.tele-inner-linkers1:hover .tele-link1{
    height: 200px;
    visibility: visible;
}

.tele-link1{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -153px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-inner-linke1{
    padding: 10px;
}

.tele-inner-linkers2{

    padding: 8px;
    font-size: 13px;
    position: relative;
}

.tele-inner-linkers2:hover .tele-link2{
    height: 275px;
    visibility: visible;
}

.tele-link2{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -108px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-inner-linke2{
    padding: 10px;
}

.tele-drop1, .tele-drop2, .tele-drop3, .tele-drop4, .tele-drop5{
    position: relative;
}


.tele-sublinkers1{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -90px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-drop1:hover .tele-sublinkers1{
    height: 76px;
    visibility: visible;

}

.tele-sublinkers2{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -95px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-drop2:hover .tele-sublinkers2{
    height: 116px;
    visibility: visible;

}

.tele-sublinkers3{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -109px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-drop3:hover .tele-sublinkers3{
    height: 237px;
    visibility: visible;

}

.tele-sublinkers4{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -93px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-drop4:hover .tele-sublinkers4{
    height: 195px;
    visibility: visible;

}

.tele-sublinkers5{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    top: 0px;
    right: -102px;
    background-color: white;
    border-radius: 5px;
    height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
box-shadow: 5px 0px 14px 0px #0000002b;
}

.tele-drop5:hover .tele-sublinkers5{
    height: 240px;
    visibility: visible;

}

.list-item-tele li{
    padding: 10px;
}

.indus-link1{
    position: relative;
}
.indus-inner-link1{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -126px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link1:hover .indus-inner-link1{
    height: 160px;
    visibility: visible;

}

.indus-link2{
    position: relative;
}
.indus-inner-link2{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -120px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link2:hover .indus-inner-link2{
    height: 119px;
    visibility: visible;

}

.indus-link3{
    position: relative;
}
.indus-inner-link3{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -200px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link3:hover .indus-inner-link3{
    height: 81px;
    visibility: visible;

}

.indus-link4{
    position: relative;
}
.indus-inner-link4{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -160px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link4:hover .indus-inner-link4{
    height: 925px;
    visibility: visible;

}

.indus-link5{
    position: relative;
}
.indus-inner-link5{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -135px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link5:hover .indus-inner-link5{
    height: 240px;
    visibility: visible;

}

.indus-link6{
    position: relative;
}
.indus-inner-link6{
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: -158px;
    height: 0px;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 0px 14px 0px #0000002b;    
    visibility: hidden;
}

.indus-link6:hover .indus-inner-link6{
    height: 690px;
    visibility: visible;

}

/* ----------------- */
